---
import H2 from '../ui/basics/h2.astro'
import H4 from '../ui/basics/h4.astro'
import PricingCard from '../ui/elements/planCard.astro'

const { t, lang } = Astro.props;
---
<main id="plans" class="flex flex-col items-center justify-center pt-32 space-y-8 lg:pt-0 h-max min-h-dvh lg:h-screen lg:min-h-screen md:space-y-12 lg:space-y-14">
    <section class="flex flex-col items-center justify-center space-y-6">
      <H2>
        {t.plans.title}
      </H2>
      <H4>
        {t.plans.description}
      </H4>
    </section>
    <section class="grid items-center w-full grid-cols-1 gap-8 justify-items-center h-1/2 max-w-7xl md:grid-cols-2 lg:grid-cols-3 md:gap-10 lg:gap-12">
      <!-- Básico -->
      <article class="flex flex-col w-full h-full max-w-sm lg:max-w-none">
        <PricingCard
          t={t}
          title={t.plans.cards.basic.title}
          price="9"
          description={t.plans.cards.basic.description}
          features={[
            `${t.plans.cards.basic.features.f1}`,
            `${t.plans.cards.basic.features.f2}`,
            `${t.plans.cards.basic.features.f3}`,        
          ]}
        />
      </article>
  
      <!-- Pro -->
      <article class="flex flex-col w-full h-full max-w-sm lg:max-w-none">
        <PricingCard
            t={t}
            title={t.plans.cards.pro.title}
            price="19"
            description={t.plans.cards.pro.description}
            features={[
                `${t.plans.cards.pro.features.f1}`,
                `${t.plans.cards.pro.features.f2}`,
                `${t.plans.cards.pro.features.f3}`,
                `${t.plans.cards.pro.features.f4}`,
            ]}
        />
      </article>
  
      <!-- Premium -->
      <article class="flex flex-col w-full h-full max-w-sm lg:max-w-none">
        <PricingCard
            t={t}
            title={t.plans.cards.premium.title}
            price="49"
            description={t.plans.cards.premium.description}
            features={[
                `${t.plans.cards.premium.features.f1}`,
                `${t.plans.cards.premium.features.f2}`,
                `${t.plans.cards.premium.features.f3}`,
                `${t.plans.cards.premium.features.f4}`,
            ]}
        />
      </article>
    </section>
  </main>