---
import H2 from '../ui/basics/h2.astro';
import H4 from '../ui/basics/h4.astro';
import H5 from '../ui/basics/h5.astro';
import PricingCard from '../ui/elements/serviceCard.astro';

const { t, lang } = Astro.props;
---

<main id="services" class="flex flex-col items-center justify-center space-y-6 lg:pt-0 md:space-y-14 h-max min-h-dvh lg:h-screen lg:min-h-screen">
    <section class="flex flex-col items-center justify-center space-y-6 md:space-y-14 h-1/4">
        <H2 props="text-center">
            {t.services.title}
        </H2>
        <H4>
            {t.services.description}
        </H4>
    </section>
    <section aria-labelledby="services-title" class="grid items-center w-full grid-cols-1 gap-8 justify-items-center md:grid-cols-2 h-1/2">
        <h2 id="services-title" class="sr-only">Servicios disponibles</h2>
        <article class="w-full h-full max-w-sm lg:max-w-lg xl:max-w-xl" aria-label={t.services.cards.landing.title}>
        <PricingCard
            t={t}
            title={t.services.cards.landing.title}
            price="199"
            description={t.services.cards.landing.description}
            features={[
                `${t.services.cards.landing.features.f1}`,
                `${t.services.cards.landing.features.f2}`,
            ]}
        />
        </article>
        <article class="w-full h-full max-w-sm lg:max-w-lg xl:max-w-xl" aria-label={t.services.cards.db.title}>
        <PricingCard
            t={t}
            title={t.services.cards.db.title}
            price="299"
            description={t.services.cards.db.description}
            features={[
                `${t.services.cards.db.features.f1}`,
                `${t.services.cards.db.features.f2}`,
                `${t.services.cards.db.features.f3}`,
            ]}
        />
        </article>
    </section>
    <H5>
        {t.services.mod}
    </H5>
</main>