---
import H2 from '../ui/basics/h2.astro';
import H4 from '../ui/basics/h4.astro';
import P from '../ui/basics/p.astro';
import PrimaryButton from '../ui/basics/primaryButton.astro';
import Ray from '../ui/icons/ray.astro';
import Graphic from '../ui/icons/graphic.astro';
import Crown from '../ui/icons/crown.astro';

const { t, lang } = Astro.props;
---
<main id="whyus" class="flex flex-col items-center justify-center min-h-screen space-y-14">
    <section class="flex flex-col items-center justify-center pt-32 space-y-24">
      <H2 props="drop-shadow-md">
        {t.whyus.title}
      </H2>
      <H4 props="mx-6 md:mx-16 lg:mx-32">
        {t.whyus.description}
      </H4>
    </section>
    <!-- Características -->
    <div class="flex flex-col items-center justify-center space-y-24">
      <section class="grid items-start w-full max-w-6xl grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 md:gap-12 lg:gap-16">
        <!-- Rápido -->
        <article class="flex flex-col items-center justify-center space-y-6 text-center">
          <Ray class="w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 text-dorado-500 drop-shadow-lg" />
          <P set:html={t.whyus.features.f1} />
        </article>
  
        <!-- Escalable -->
        <article class="flex flex-col items-center justify-center space-y-6 text-center">
          <Graphic class="w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 text-dorado-500 drop-shadow-lg" />
          <P set:html={t.whyus.features.f2} />
        </article>
  
        <!-- Premium -->
        <article class="flex flex-col items-center justify-center space-y-6 text-center">
          <Crown class="w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 text-dorado-500 drop-shadow-lg" />
          <P set:html={t.whyus.features.f3} />
        </article>
      </section>
      <!-- Botón -->
      <a href={`/${lang}/#contact`} aria-label="Formulario de contacto" class="col-span-2 mt-10">
        <PrimaryButton>
            {t.whyus.button}
        </PrimaryButton>
      </a>
    </div>
  </main>